<mat-card>
    <!-- panel 2 -->
    <mat-expansion-panel expanded=false>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="badge badge-danger">General Information</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- content -->
        <mat-card>
            <mat-card-title>
                Name
            </mat-card-title>
            <mat-card-content>
                <div class="flex-container very-small">
                    <div class="flex-item" *ngFor="let entry of ctn.get('ctnInfo')">
                        {{ entry }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>
                Count Of Events
            </mat-card-title>
            <mat-card-content>
                <div class="flex-container very-small">
                    <div class="flex-item" *ngFor="let entry of ctn.get('ctn2')">
                        {{ entry }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>
                Count Of Patients
            </mat-card-title>
            <mat-card-content>
                <div class="flex-container very-small">
                    <div class="flex-item" *ngFor="let entry of ctn.get('ctn3')">
                        {{ entry }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>


    <!-- panel 3 -->
    <mat-divider></mat-divider>
    <mat-expansion-panel expanded=true>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="badge badge-warning">BMI Analysis</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- minimum -->
        <mat-expansion-panel expanded=true>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="badge badge-info">Minimum</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- content -->
            <mat-card>
                <mat-card-title>
                    System Exit
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMinLeft></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Is Dead
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMinDead></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Gender
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMinGender></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Age
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMinAge></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>

        <!-- maximum -->
        <mat-expansion-panel expanded=false>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="badge badge-info">Maximum</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- content -->
            <mat-card>
                <mat-card-title>
                    System Exit
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMaxLeft></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Is Dead
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMaxDead></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Gender
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMaxGender></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Age
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiMaxAge></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>

        <!-- distribution -->
        <mat-expansion-panel expanded=false>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="badge badge-info">Distribution</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- content -->
            <mat-card>
                <mat-card-title>
                    System Exit
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiDistLeft></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Is Dead
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiDistDead></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Gender
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiDistGender></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Age
                </mat-card-title>
                <mat-card-content>
                    <div class="flex-container medium">
                        <div class="flex-item" #ctnBmiDistAge></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>

        <!-- progression -->
        <mat-expansion-panel expanded=false>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="badge badge-info">Progression</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- content -->
            <mat-card>
                <mat-card-title>
                    System Exit
                </mat-card-title>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Is Dead
                </mat-card-title>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Gender
                </mat-card-title>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Age
                </mat-card-title>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-card>