<nav class="navbar navbar-expand-lg navbar-dark bg-dark on-top">
  <a class="navbar-brand" href="#">COVIZ</a>
  <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-warning" routerLink="/demo2" routerLinkActive="active">Selection</button>

        <button class="btn btn-danger" routerLink="/compare" routerLinkActive="active">Comparison</button>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="navbar-authors"><strong>Authors:</strong> B. Omidvar-Tehrani, C. A. L. Pahins, S. Amer-Yahia, J. Borel, V. Siroux, J. Pépin, J. D. Comba</span>
        <a href="http://www.ufrgs.br/english/home"><img src="assets/logo-ufrgs.png" alt="Federal University of Rio Grande do Sul"></a>
        <a href="http://www.inf.ufrgs.br/ppgc/en/"><img src="assets/logo-inf.png" alt="Institute of Informatics Federal University of Rio Grande do Sul "></a>
        <a href="https://www.univ-grenoble-alpes.fr/en/"><img src="assets/logo-grenoble.png" alt="Université Grenoble Alpes"></a>
        
        <!-- <button class="btn btn-danger" href="#">
          <i class="material-icons md-16">help</i>
        </button> -->
      </li>
    </ul>
  </div>
</nav>


