.svg-color-quant-boxplot {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;

  position: relative;
  top: -5px;
  right: 0;
  width: 710px;
  padding: 5px 5px 0px;
  height: 34px;

  float: right;

  font-size: 0.7em;
}
