<!-- map -->
<div id="map">
  <div #mapwidgets>
    <!-- navigator -->
    <app-navigator></app-navigator>

    <!-- color scale -->
    <svg id="svg-color-quant" class="on-map"></svg>

    <!-- aggregation -->
    <mat-card class="map-card on-map" [formGroup]="options">
      <div>
        <section>
          <span class="badge badge-info">Zoom:</span> {{currentZoom}} of {{maximumZoom}}
        </section>
        <section>
          <span class="badge badge-danger">Aggregation:</span>
          <mat-form-field>
            <mat-select formControlName="aggr" (change)="setAggr()">
              <mat-option *ngFor="let opt of aggr_values" [value]="opt.value">
                {{ opt.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section>
          <span class="badge badge-danger">Marker:</span>
          <mat-form-field>
            <mat-select formControlName="marker" (change)="setMarker()">
              <mat-option *ngFor="let opt of marker_values" [value]="opt.value">
                {{ opt.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section>
          <span class="badge badge-danger">Treatments:</span>
          <mat-checkbox class="mat-checkbox-group" *ngFor="let opt of treatments_values" checked=true (change)=setTreatment($event,opt)> {{ opt.viewValue }}</mat-checkbox>
        </section>
        <section>
          <span class="badge badge-danger"># of Events:</span> {{ this.options.get('display_threshold').value }}
          <mat-slider min="0" max="1000" step="1" thumbLabel="true" tickInterval="auto" formControlName="display_threshold"
            (change)="setMapData()"></mat-slider>
        </section>
      </div>
    </mat-card>
    <!-- end aggregation -->

    <!-- info -->
    <mat-card class="map-card on-map" [formGroup]="options">
      <div>
        <section>
          <span class="badge badge-warning">Name:</span> {{ info_name }}
        </section>
        <section>
          <span class="badge badge-info">Number of Patients:</span> {{ info_users[0] }} of {{ info_users[1] }}
        </section>
        <section>
          <span class="badge badge-info">Number of Markers:</span> {{ info_events[0] }} of {{ info_events[1] }}
        </section>
        <section>
          <button mat-raised-button class="btn-cohort" color="sucess" (click)="clearCohorts()">Clear Cohorts <i class="material-icons md-32">assignment_turned_in</i></button>
        </section>
        <section>
          <button mat-raised-button class="btn-cohort" color="warn" (click)="createCohort()">Create Cohort! <i class="material-icons md-32">assignment_turned_in</i></button>
        </section>
      </div>
    </mat-card>
    <!-- end info -->
  </div>
  <!-- end mapwidgets -->
</div>
<!-- end map -->

<!-- footer toolbar -->
<div *ngIf="options.get('aggr').value === 'quantile' || options.get('aggr').value === 'cdf'" class="app-footer-toolbar app-footer-container over-map">
  <section class="app-footer-item">
    <span class="badge badge-warning">Payload Parameter: {{ getPayloadInfo('value') }}</span>
    <mat-slider [min]="getPayloadInfo('min')" [max]="getPayloadInfo('max')" [step]="getPayloadInfo('step')" thumbLabel="true"
      tickInterval="auto" [ngModel]="getPayloadInfo('value')" (ngModelChange)="setPayloadInfo('value', $event)"
      (change)="setMapData()"></mat-slider>
  </section>
</div>

<div class="app-footer app-footer-container over-map" #footerCtnRef>
  <div class="flex-item" #container></div>
</div>
<!-- end footer toolbar -->