.svg-color-scale-calendar {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 80px;
  padding: 5px 5px 0px;
  height: 34px;
  font-size: 10px;
  width: 205px;
}
