.svg-color-scale-cohort {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;
  position: absolute;
  top: 20px;
  right: 24px;
  padding: 5px 5px 0px;
  height: 34px;
  width: 547px;
}

.svg-legend-cohort {
  position: absolute;
  top: 18px;
  right: 572px;
}

.cohort-info {
  position: absolute;
  top: 30px;
  left: 30px;
}