.map-card-footer {
  position: relative;
  top: 0;
  left: 0;
  font-size: 0.7em;
  background: rgba(202, 210, 211, 0);
  box-shadow: none !important;
  padding: 0px !important;
}

.md2-datepicker-trigger {
  padding: 15px 0 4px 35px !important;
}

.md2-datepicker-input {
  height: 30px !important;
  min-width: 0 !important;

  padding-right: 0 !important;
  line-height: 0 !important;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.day.hover {
  stroke: #000;
  stroke-width: 2;
}

#tooltip {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 5px;
}

.svg-color-scale-calendar {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 24px;
  /* width: 455px; */
  padding: 5px 5px 0px;
  height: 34px;
}
