<mat-card>
  <mat-card-content>
    <div class="wizard-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Outlierness Wizard</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroup">
            <mat-horizontal-stepper #stepper="matHorizontalStepper" formArrayName="formArray" [linear]="true" (selectionChange)="selectedStep($event)">
              <!-- step 0 -->
              <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                <ng-template matStepLabel>Dataset and Payload</ng-template>

                <mat-form-field>
                  <mat-label>Dataset</mat-label>
                  <mat-select formControlName="dataset" (selectionChange)="selectedDataset()">
                    <mat-option *ngFor="let elt of dataset_values" [value]="elt.value">
                      {{ elt.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Spatial Dimension</mat-label>
                  <mat-select formControlName="spatial">
                    <mat-option *ngFor="let elt of dataset.spatialDimension" [value]="elt">
                      {{ elt }}
                    </mat-option>
                  </mat-select>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Temporal Dimension</mat-label>
                  <mat-select formControlName="temporal" (selectionChange)="seletectTemporalDim($event)">
                    <mat-option *ngFor="let elt of getTemporalKeys()" [value]="elt">
                      {{ elt }}
                    </mat-option>
                  </mat-select>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Payload</mat-label>
                  <mat-select formControlName="payload">
                    <mat-option *ngFor="let elt of dataset.payloads" [value]="elt">
                      {{ elt }}
                    </mat-option>
                  </mat-select>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Spatial Resolution</mat-label>
                  <input matInput formControlName="resolution" type="number">
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <div>
                  <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                </div>
              </mat-step>

              <!-- step 1 -->
              <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
                <ng-template matStepLabel>Composite Parameters</ng-template>

                <md2-datepicker formControlName="leftFrom" placeholder="Start DateTime" type="datetime" startView="month" format="M/d/y H:mm A"></md2-datepicker>
                <md2-datepicker formControlName="leftTo" placeholder="End DateTime" type="datetime" startView="month" format="M/d/y H:mm A"></md2-datepicker>
                <mat-form-field>
                  <mat-label>Interval Group</mat-label>
                  <mat-select formControlName="group">
                    <mat-option *ngFor="let elt of group_values" [value]="elt.value">
                      {{ elt.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <div>
                  <button mat-raised-button matStepperPrevious type="button">Back</button>
                  <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                </div>
              </mat-step>

              <!-- step 2 -->
              <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
                <ng-template matStepLabel>Fixed Parameters</ng-template>

                <div style="margin-bottom: 10px;">
                  <md2-datepicker formControlName="rightFrom" placeholder="Start DateTime" type="datetime" startView="month" format="M/d/y H:mm A"></md2-datepicker>
                  <md2-datepicker formControlName="rightTo" placeholder="End DateTime" type="datetime" startView="month" format="M/d/y H:mm A"></md2-datepicker>
                </div>

                <div>
                  <button mat-raised-button matStepperPrevious type="button">Back</button>
                  <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                </div>
              </mat-step>

              <!-- step 3 -->
              <mat-step formGroupName="3" [stepControl]="formArray?.get([3])" optional>
                <ng-template matStepLabel class="widgets-container">Categorical Constraints</ng-template>

                <div class="widgets-container">
                  <div class="widgets-container widgets-item">
                    <ng-template #container></ng-template>
                  </div>
                </div>

                <div>
                  <button mat-raised-button matStepperPrevious type="button">Back</button>
                  <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                </div>
              </mat-step>

              <!-- step 4 -->
              <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
                <ng-template matStepLabel>Execute</ng-template>

                <mat-form-field>
                  <mat-label>Spatial Threshold</mat-label>
                  <input matInput formControlName="threshold" type="number">
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <div>
                  <button type="button" mat-raised-button color="warn" (click)="reset()">Reset</button>
                  <button mat-raised-button color="primary" (click)="execute()">Done</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </form>

          <mat-card *ngIf="spinner">
            <mat-spinner mode="indeterminate"></mat-spinner>
          </mat-card>

          <div [style.visibility]="result ? 'visible' : 'hidden'" style="width: 1139.230px; margin-bottom: 50px;">
            <mat-card-header>
              <mat-card-title>
                <h3>Calendar Outlierness</h3>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div class="widgets-container">
                <div class="widgets-container widgets-item">
                  <ng-template #calendarCtn></ng-template>
                </div>
              </div>
            </mat-card-content>
          </div>

          <div [style.visibility]="result ? 'visible' : 'hidden'" style="width: 1139.230px">
            <mat-card-header>
              <mat-card-title>
                <h3>BoxPlot Outlierness</h3>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div class="widgets-container">
                <div class="widgets-container widgets-item">
                  <ng-template #boxplotCtn></ng-template>
                </div>
              </div>
            </mat-card-content>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
